@font-face {
    font-family: OleoScript;
    src: url(fonts/OleoScript-Regular.ttf);
}

body {
    min-height: 100vh;
    background-color: #000000;
}

.content {
    text-align: center;

}

.flip-clock-label {
    color: white !important;
    font-family: OleoScript, cursive, sans-serif;
    font-weight: 100;
    font-size: 1rem;
}

.clock {
    position: relative;
    left: calc(50% - 380px);
    width: 760px;
    margin: 0 auto;
}

@media screen and (max-width: 767px) {

    .header { padding-bottom: 25px; padding: 5px 0; }
    .header .buttons { margin: 40px 0 0; text-align: center; }
    .header h1 { font-size: 54px; }
    .header .version { font-size: 18px; }
    .header .clock { margin: 0 auto; display: block; width: 322px; }

    .flip-clock-wrapper ul { height: 60px; line-height: 60px; }
    .flip-clock-wrapper ul li a div.up:after { top: 24px; }
    .flip-clock-divider { height: 60px; }
    .flip-clock-dot { height: 6px; width: 6px; left: 7px;}
    .flip-clock-dot.top { top: 17px; }
    .flip-clock-dot.bottom { bottom: 8px; }

    .grand-button,
    a.grand-button,
    a.grand-button:hover {
        display: block !important;
        width: 95%;
        margin: 0 2.5% 10px !important;
    }

    .header .flip-clock-divider .flip-clock-label { font-size: 16px; }
    .header .flip-clock-divider.hours .flip-clock-label { right: -66px; }
    .header .flip-clock-divider.minutes .flip-clock-label { right: -78px; }
    .header .flip-clock-divider.seconds .flip-clock-label { right: -78px; }

    .flip-clock-wrapper ul { width: 37px; }
    .flip-clock-wrapper ul li a div div.inn { font-size: 30px; }
}



.message {
    padding: 10vh 20%;
    font-family: OleoScript, cursive, sans-serif;
    text-align: center;
    font-size: 54px;
    color: rgb(203, 13, 112);
    font-weight: bold;
    text-shadow: 0 -1px 0 rgb(207, 132, 172), 0 1px 0 rgb(142, 9, 78), 0 0 40px rgba(0, 0, 0, 1);
}